name: 'Build and publish'

on:
  push:
    tags: [ '*.*.*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install cosign
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: 'v2.2.4'
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - name: Build plugin
        run: |
          go build -ldflags="-extldflags=-static" ./cmd/fleeting-plugin-kubevirt
          mkdir -p dist/linux/amd64
          mv fleeting-plugin-kubevirt dist/linux/amd64/plugin
      - name: Install fleeting-artifact tool
        run: |
          go install gitlab.com/gitlab-org/fleeting/fleeting-artifact/cmd/fleeting-artifact@latest
      - name: Log into registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo -n "$GITHUB_TOKEN" | ~/go/bin/fleeting-artifact login --username ${{ github.actor }} --password-stdin ghcr.io
      - name: Push into registry
        run: |
          ~/go/bin/fleeting-artifact release ghcr.io/${{ github.repository }}:${{ github.ref_name }}
